[DEFAULT]
ignoreip  = 127.0.0.1 {{ server_ip_address }}
bantime   = 86400
destemail = {{ admin_email }}
banaction = iptables-multiport
action    = %(action_mwl)s

# JAILS
[ssh]
enabled   = true
maxretry  = 3

[pam-generic]
enabled   = true
banaction = iptables-allports

[ssh-ddos]
enabled   = true
