<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Welcome to {{ domain }}</title>

  <meta name="author", content= "Sebastian Ruml" >
  <meta name="keywords", content= "coockiecutter, python, sebastian ruml" >

</head>

<body>
  <h1>Welcome to {{ domain }}</h1>

  <h2>Projects</h2>
  <p>Some of my personal projects.</p>
  <ol>
    <li><a href="http://cookiecutter-templates.sebastianruml.name">Cookiecutter Templates</a>: List of available templates for Cookiecutter</li>
  </ol>
</body>
</html>
