---
###############################################################################
# Rename file to vars.yml set your variables here before running the playbook
# Also remember to set your host's IP address in the hosts file.
###############################################################################
#
# your domain name (e.g: example.com) - don't enter www. or other subdomains.
domain: EXAMPLE.COM

# common
main_user_name: YOUR_USER_NAME # username you'd like to log in with
admin_email: YOU@EXAMPLE.COM # an email address to receive notifications
server_ip_address: YOUR.SERVER.IP.ADDRESS